.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  position: absolute;
  right: 48px;
  top: 50%;
  color :#000;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: .50;
  transition: opacity .2s linear;
}

