.footer__columns {
  width: 90%;
  min-height: 250px; /*не придумал ничего лучше такого решения,  */
  margin: 0 auto;    /*что б сильно не ограничивать текстовые блоки*/
  display: flex;
  justify-content: space-between;
}
