@import url('./__title/feynman__title.css');
@import url('./__subtitle/feynman__subtitle.css');
@import url('./__link/feynman__link.css');

.feynman {
  min-height: 790px;
  background-color: #f2f2f2;
  background-image: url('../../images/background/feynman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  position: relative;
  padding-top: 100px;
}
