@import url('./__title/feynman__title.css');
@import url('./__subtitle/feynman__subtitle.css');
@import url('./__link/feynman__link.css');

.feynman {
  min-height: 790px;
  background:
    #f2f2f2
    url('../../images/background/feynman.png')
    no-repeat
    left bottom;
  background-size: 867px 637px;
  position: relative;
  padding-top: 80px;
}
