.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.color-link {
  color: #2f80ed;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.logo {
  width: 183px;
  height: 32px;
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
}

.header__main_illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square_pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

.description {
  margin: 100px 0;
  display: flex;
}

.two-columns {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  min-height: 30px;
  line-height: 34px;
  font-size: 24px;
  margin: 10px 0;
}

.two-columns__paragraph:nth-of-type(2) {
  margin: 20px 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  position: relative;
}

.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  text-align: center;
  margin: 100px auto 20px;
}

.section-subtitle {
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: auto;
  text-align: center;
}

.table {
  width: 1100px;
  margin: 0 auto 100px;
}

.table__flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15em;
  font-weight: bold;
  margin: auto auto 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
  margin: 20px auto 20px;
}

.table__text_cite {
  margin: 0;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
