.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.logo {
  width: 183px;
  height: 32px;
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.header__main_illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square_pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    height: 568px;
    width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}
