.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

                          /*Стили хедера.*/

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 3;
  height: 32px;
}

.logo {
  width: 183px;
}
/*Бриф требует использовать .logo для двух логотипов, но я не смог придумать ничего умнее ширины, потому что
  высоты у них разные. Позиционируются тоже по-разному, логотип в шапке абсолютно,
  а логотип в подвале позиционирует контейнер .footer__column, строка 263.
  Стоит ли использовать стиль с одним лишь параметром? Или контейнер не должен позиционировать логотип?*/

.header__title {
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main_illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square_pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}
                        /*Стили секции description*/

.description {
  margin: 100px 0 0;
}

.two-columns {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  min-height: 30px;
  line-height: 34px;
  font-size: 24px;
  margin: 15px 0;
}

.two-columns__paragraph:nth-of-type(2) {
  margin: 15px 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

                        /*Стили секции c цифрами*/

.digits {
  margin: 100px 0 100px;
  position: relative;
}

.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 69px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 20px;
}

.section-subtitle {
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: auto;
  text-align: center;
}

.table {
  width: 1100px;
  margin: 0 auto;
}

.table__flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.digits__table_cell {
  width: 250px;
  margin: 60px 0 0;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15em;
  font-weight: bold;
  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
  margin: 20px auto 20px;
}

.table__text_cite {
  margin: 0;
}

                        /*Стили для секции Ричарда Фейнмана*/

.feynman {
  min-height: 790px;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 70px;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  position: absolute;
  right: 48px;
  top: 50%;
  color :#000;
}

                        /*Стили для Кауфмана*/

.kaufman {
  background-color: #1f1f1f;
  color: white;
  padding: 90px 0 90px;
  position: relative;
  overflow: hidden;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

                          /*Стили для футера*/

.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  padding: 60px 0 0;
  position: relative;
}

.footer__column {
  width: 90%;
  height: 310px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
  padding: 18px 0;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-links {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-links_item {
  color: white;
  text-decoration: none;
  padding: 20px 0 16px;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
