.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  margin-left: 48px;
  color: #2f80ed;
  align-self: start;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: .65;
  transition: opacity .2s linear;
}
