.khan__book-pic {
  background-image: url('../../../images/khan-book.jpg');
  width: 620px;
  height: 608px;
  background-size: cover;
  background-position: 0 0;
}

/*Изображенин очень похоже на контентное, но спозиционировать как в брифе
 черз <img> не получается, без создания дополнительной обертки и класса к ней*/
 /*Можно переделать, но стоит ли плодить лишние дивы не для логотипа или
 другого важного изображения?*/
